API_ID=23549099
API_HASH=a5215f71695c999bcf721d03be79e4fc
BOT_TOKEN=8651975785:AAFtzPU_ZpRkbRACTVkS2w4kzMUqxFdsYnA
BOT_USERNAME=carteio_bot
BOT_NAME=Carteio Music
OWNER_ID=8434344050
OWNER_USERNAME=Abhay
SUDO_USERS=8434344050
ASSUSERNAME=Carteio Music
SUPPORT_CHANNEL=
SUPPORT_CHAT=
STRING_SESSION=BQFnVKsADvtyz2hpAglYaR1vCvDEfTDd8qDBWjUYpGY2RllQ-EMltKg2fVDwBNP5aqIDRJxLfiEINlF8b6PzXvmMUSMNdmz4ndABikQEsZQegiMLvXMy_uAHOA5pNWoBj8sW6HL7hr6AZEh86E5Ce6cRZO8gN7F3vw6xuJUaxGoHE1J2XWX1mqBj8CrijJmAcHylq20oauHEvrX6mJDkbNOFkcL7BHcVzJ-Pdd64Fi6KqEH0_Ppdq8cB4QoTBhL8eO83M0lOPau3NPFpKNlt8e6MkmlGLSu_pOSZ4zJBYqQEyVBl00eYQOvlzJwWCrTGSCn5ylw_rd2F8ikQGsQ5wsMbb-CNYgAAAAH2ueByAA
MONGO_DB_URI=mongodb+srv://karansingh_db_user:wdvd03JnJYEQwSGo@cluster0.mujjzf1.mongodb.net/?appName=Cluster0
LOGGER_ID=-5164642876
PORT=8000
NODE_ENV=production
CREATOR_NAME=Abhay
CREATOR_TITLE=Software Engineer
CREATOR_PHOTO_URL=https://res.cloudinary.com/dgdekkpjg/image/upload/v1778519459/WhatsApp_Image_2026-05-11_at_22.39.32_ijutkz.jpg
CREATOR_BIO=Creator of RudexAbhay Music Bot
    