API_ID=
API_HASH=
BOT_TOKEN=
BOT_USERNAME=
BOT_NAME=RUdexAbhay Music
OWNER_ID=
OWNER_USERNAME=Abhay
SUDO_USERS=
ASSUSERNAME=
SUPPORT_CHANNEL=
SUPPORT_CHAT=
STRING_SESSION=
MONGO_DB_URI=
LOGGER_ID=
PORT=8000
NODE_ENV=production
CREATOR_NAME=Abhay
CREATOR_TITLE=Software Engineer
CREATOR_PHOTO_URL=
CREATOR_BIO=Creator of RUdexAbhay Music Bot
